In [1]:
import pandas as pd

In [5]:
df=pd.DataFrame({'Name':['Sandhya','Gaytri','Asmita','Divya','Samruddhi'],'Age':[20,21,21,20,21],'Location':['Nagar','Beed','Mumbai','Dhule','Pune']},index=None)

In [7]:
df

        Name  Age Location
0    Sandhya   20    Nagar
1     Gaytri   21     Beed
2     Asmita   21   Mumbai
3      Divya   20    Dhule
4  Samruddhi   21     Pune

In [9]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
df.dtypes

Name        object
Age          int64
Location    object
dtype: object

In [13]:
df.shape

(5, 3)

In [15]:
df.describe

<bound method NDFrame.describe of         Name  Age Location
0    Sandhya   20    Nagar
1     Gaytri   21     Beed
2     Asmita   21   Mumbai
3      Divya   20    Dhule
4  Samruddhi   21     Pune>

In [45]:
df=pd.read_csv("fake_job_postings.csv")

In [25]:
df.head(6)

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
5,6,Accounting Clerk,"US, MD,",NaN,NaN,NaN,Job OverviewApex is an environmental consultin...,NaN,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15184 non-null  object
 8   benefits             10668 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             11425 non-null  object
 17  fraudulent           17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [29]:
df.describe()

,job_id,telecommuting,has_company_logo,has_questions,fraudulent
count,17880.000000,17880.000000,17880.000000,17880.000000,17880.000000
mean,8940.500000,0.042897,0.795302,0.491723,0.048434
std,5161.655742,0.202631,0.403492,0.499945,0.214688
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,4470.750000,0.000000,1.000000,0.000000,0.000000
50%,8940.500000,0.000000,1.000000,0.000000,0.000000
75%,13410.250000,0.000000,1.000000,1.000000,0.000000
max,17880.000000,1.000000,1.000000,1.000000,1.000000

In [31]:
df.isnull()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,False,False,False,False,True,False,False,False,True,False,False,False,False,False,True,True,False,False
1,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False
2,False,False,False,True,True,False,False,False,True,False,False,False,True,True,True,True,True,False
3,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17875,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False,False,False
17876,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False
17877,False,False,False,True,True,False,False,False,True,False,False,False,False,True,True,True,True,False
17878,False,False,False,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False
17879,False,False,False,False,True,False,False,False,True,False,False,False,False,False,True,False,False,False

In [43]:
df.iloc[1500]

job_id                                                              1501
title                                             PHP / Drupal Developer
location                                                US, NY, New york
department                                                   Development
salary_range                                                         NaN
company_profile                                                      NaN
description            Work for a dynamic and challenging company tha...
requirements            Authorized to work in the US without sponsorship
benefits                                                             NaN
telecommuting                                                          0
has_company_logo                                                       0
has_questions                                                          0
employment_type                                                      NaN
required_experience                                                  NaN
required_education                                                   NaN
industry                                                             NaN
function                                                             NaN
fraudulent                                                             0
Name: 1500, dtype: object

In [47]:
df.dtypes

job_id                  int64
title                  object
location               object
department             object
salary_range           object
company_profile        object
description            object
requirements           object
benefits               object
telecommuting           int64
has_company_logo        int64
has_questions           int64
employment_type        object
required_experience    object
required_education     object
industry               object
function               object
fraudulent              int64
dtype: object